<h1> Index - The recipes</h1>
<%= form_tag(search_recipes_path, method: 'get') do %>
	<p>
	   <%= text_field_tag :search, params[:search] %>
	   <%= submit_tag 'Search' %>
	</p>
<% end %>


<p>
	<%= link_to 'Back home', '/' %>
</p>
<ul>
	<% @recipes.each do |recipe| %>
		<li><%= link_to (recipe.name), recipe_path(recipe) %>
			<% if recipe.name.present? %>
						
			<% end %>
		</li>
	<% end %>
</ul>
<p>
	<%= link_to 'New recipe', new_recipe_path %>
</p>