<h1>New - Recipes</h1>
<%= form_for @recipe do |f| %>
	<tr>
		<td><%= f.label :name  %></td>
		<td><%=  f.text_field :name %></td>
	</tr>
	<br>
	<tr>
		<td><%= f.label :preparation %></td>
		<td><%= f.text_field :preparation %></td>
	</tr>
	<br>
	<tr>
		<td>&nbsp;</td>
		<td id="button"><%= f.submit 'Save' %></td>
	</tr>
<% end %>