<div class="container containerfirst">
          <div class="row rowfirst">
            <div id="columnas" class="col-md-12 col-xs-12 form_new">
				<fieldset>
					<legend>Añadir ingredientes a la receta</legend>
					<%= form_for [@recipe, @ingredient] do |f| %>
						<p class="nombres_recipes">Receta: <%= @recipe.name %></p>
						<div class="campos">
							<!--Nombre del ingrediente-->
							<%= f.label :Ingrediente %>
<<<<<<< HEAD
							<!--<%= select_tag :food_id %>-->
							
							<%= select_tag "ingredient[food_id]", options_from_collection_for_select(@ingredients, 'id', 'name' )%>
					
=======
							<%= f.text_field :food_id %>
>>>>>>> bfea5f99cd42563e7ec4c4bc0e9c55e8de9077bf
						</div>

						<div class="campos">
							<!--Cantidad necesaria-->
							<%= f.label :Cantidad_necesaria %>
							<%= f.text_field :necessary_amount, :placeholder => "Cantidad necesaria" %>
						</div>

						<div class="campos">
							<!--Unidad de medida-->
							<%= f.label :Unidad_de_medida %>
						<%= f.text_field :unit_of_measure, :placeholder => "kg, gr, l" %>
						</div>
							
							<%= f.submit 'Guardar' %>
						
					<% end %>
					<!--<p>
						<%= link_to 'Back Home', recipes_path %>
					</p>-->
					</fieldset>
			</div>
		</div>
</div>