
<div class="container containerfirst">
          <div class="row rowfirst">
            <div id="columnas" class="col-md-12 col-xs-12 form_new">
				<fieldset>
					<legend>Nuevo Alimento</legend>
					<%= form_for @food do |f| %>
					<div class="campos">
						<!--Nombre del ingrediente-->
						<%= f.label :Nombre  %>
						<%=  f.text_field :name, :placeholder => "Nombre alimento", id: "contenido" %>
					</div>

					<div class="campos">
					<!--Categoria a la que pertenece la receta-->
					<%= f.label :Nombre %>
					<%= f.select :name, Food.all.collect {|f| [f.name]} %>
				</div>
						
					<div class="campos">
						<!--Cantidad necesaria-->
						<%= f.label :Cantidad_existente %>
						<%= f.text_field :existing_amount, :placeholder => "Cantidad existente" %>
					</div>

					<div class="campos">
						<!--Unidad de medida-->
						<%= f.label :Unidad_de_medida %>
						<%= f.text_field :unit_of_measure, :placeholder => "kg, gr, l" %>
					</div>

						<%= f.submit 'Guardar' %>
					<% end %>
				</fieldset>
			</div>
		</div>
</div>
